@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

@media only screen and (max-width: 600px) {
  body {
    zoom: .65;
  }

 #home-image {
   margin-top: 40%;
 }
}

body {
  font-family: 'Chivo', sans-serif;
}
